// Modules
@import "colors";
@import "fonts";
@import "containers";
@import "general";
@import "transitions";

// Components
@import "preloader";
@import "navbar";
@import "sidenav";
@import "footer";
@import "media";

// Page exclusive rules

img{
    border-radius: 10px;
    align-self: center;
}
.page-content{
    z-index: 10;
}

.header-cont{
    width: 40%;
    margin-left: 50%;
}

.noExistence{
    transform: scale(0) !important;
    margin: 0px !important;
    height: 0px !important;
    font-size: 0px !important;
    transition: @btrans !important;
}

.wave{
    animation: 10s linear infinite wave ;
}
.inverted-wave{
    transform: rotate(180deg);
}
.wave-light{
    fill:rgba(255, 255, 255, 0.753);
}
.wave-light-2{
    fill:#F7F9FB;
}
.wave-primary{
    fill:@primary;
}


@keyframes wave {
    0%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(-100vw);
    }
}

header{
    width: @wfluid;
    height: @hfluid;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center ;
}

p{
    font-size: 2vh;
}
h1{
    font-size: 4vh;
}

.z-shadow{
    box-shadow: rgba(0, 0, 0, 0.192) 0px 8px 8px;
}