// Modules
@import "colors";
@import "fonts";
@import "containers";
@import "general";
@import "transitions";

// Components
@import "preloader";
@import "navbar";
@import "sidenav";
@import "footer";
@import "media";

// Page exclusive rules

.page-content{
    z-index: 10;
}


.noExistence{
    transform: scale(0) !important;
    margin: 0px !important;
    height: 0px !important;
    font-size: 0px !important;
    transition: @btrans !important;
}

.wave{
    animation: 10s linear infinite wave ;
}

@keyframes wave {
    0%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(-100vw);
    }
}